<div class="chat-header">
  <div class="room-title">
    ルーム名
  </div>
  <div class="room-exit">
    ルーム退出
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        ユーザー名
      </div>
      <div class="message-date">
        日時
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        hogehuga
      </div>
    </div>
  </div>
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        ユーザー名
      </div>
      <div class="message-date">
        日時
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        hogehuga
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" type="text" placeholder="メッセージを入力" >
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>