<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <p><%= message.user.nickname %></p>
    </div>
    <div class="message-date">
      <p><%= message.created_at %></p>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <p><%= message.content %></p>
    </div>
  </div>
</div>