<div class="side-bar-header">
  <div class="header-logo">
    <%= link_to image_tag("logo_transparent.png", class:"giver-icon"), "/" %>
  </div>
  <div class="create-room">
    <a href="#">ルーム作成</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">room1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">room2</a>
    </div>
  </div>
</div>