.top-page-header {
  width: 100vw;
  height: 70px;
  padding: 10px 90px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// second_headerでも使用
.giver-icon {
  width: 10rem;
  height: 3rem;
  margin-top: 0.3rem;
}

.user-nickname {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 25px;
  color: black;
  text-decoration: none;
}

.logout {
  font-size: 18px;
  padding: 15px 25px;
  margin-left: 20px;
  color: white;
  border-radius: 100vh;
  text-decoration: none;
  background-color: #FF6600;
}

.login {
  font-size: 18px;
  padding: 15px 25px;
  margin-left: 20px;
  color: white;
  border-radius: 100vh;
  text-decoration: none;
  background-color: #FF6600;
}

.sign-up {
  font-size: 18px;
  padding: 15px 25px;
  margin-left: 20px;
  color: white;
  border-radius: 100vh;
  text-decoration: none;
  background-color: #FF6600;
}